@import "../css/header.css";

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.contact-form .form-group {
    display: flex;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    background: #4285F4;
    color: white;
    border: none;
    padding: 12px 25px;
    margin-top: 20px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #306fd0;
}